* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

header {
    background: #363636;
    color: #fff;
    padding: 0.1vh;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 4vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
}

nav ul li a:hover {
    color: #ff9800;
}

table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 2vh;
}

.classes {
    padding: 2.5vh;
    text-align: center;
}

h1 {
    margin: 1vh;
    font-size: 3vw;
}

h2 {
    margin: 1vh;
    font-size: 3vw;
}

.education h2 {
    font-size: 4vw;
}

.futureClasses {
    padding: 2.5vh;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.education nav p a {
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    color: black;
    align-items: left;
    padding:  1vh;
}

.education p {
    text-align: left;
}

.education p a {
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.education p a:hover {
    color: #ff9800;
}

.classes h2 {
    display: flex;
    font-size: 2vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    background: white;
    color: black;
    padding: 0;
}

@media (max-width: 600px) {
    header {
        background: #363636;
        height: 20vh;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
        justify-items: center;             /* Center items within each column */
        align-items: center;
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 5vw;
        margin: 0vh;
        align-items: left;
        flex-direction: column;
    }
    table {
        font-family: 'Poppins', sans-serif;
        border-collapse: collapse;
        width: 1vw;
        margin: 0 auto;
    }
    .classes td, th {
        border: 1px solid #000000;
        text-align: center;
        padding: 0.3vh;
        font-size: 3vw;
    }
    .futureClasses td, th {
        border: 1px solid #000000;
        text-align: center;
        padding: 0.3vh;
        font-size: 3vw;
    }
    .classes {
        padding: 2.5vh;
        text-align: center;
    }
    .classes h1 {
        margin: 1vh;
        font-size: 6vw;
    }
    .futureClasses {
        padding: 2.5vw;
        text-align: center;
    }
    .futureClasses h2 {
        margin: 1vh;
        font-size: 6vw;
    }
    .education h2 {
        font-size: 7vw;
    }
    .education nav p a {
        font-size: 4vw;
        font-family: 'Poppins', sans-serif;
        color: black;
        align-items: left;
        padding: 2vh;
    }
}
