* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
    color: #333;
    line-height: 1.6;
}

header {
    background: #222;
    color: #fff;
    padding: 0.1vh;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 4vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: monospace;
    font-size: 3vw;
}

nav ul li a:hover {
    color: #ff9800;
}


.education h2 {
    display: flex;
    font-size: 3vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vh;
    background: white;
    color: black;
    padding: 0;
}

.education nav ul {
    text-align: left;
    justify-content: left;
    align-items: left;
    padding: 1vw;
}

.education p a {
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.education p a:hover {
    color: #ff9800;
}

.classes h2{
    display: flex;
    font-size: 2vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    background: white;
    color: black;
    padding: 0;
}

